<html>
<head>
    <script src="scripts/jquery-1.12.0.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/perfect-scrollbar.jquery.min.js"></script>
    <script src="scripts/bootstrapx-clickover.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/perfect-scrollbar.min.css">

    <title>Playlist Tester</title>

    <script>
        var currentPlaylist;
        var playlistSocket = new WebSocket("ws://" + window.location.host + "/playlist/socket");
        $(document).ready(function(){
          var audio = $('audio');

          function createPlaylist(name, category, password, openFlag){
              $('#playlist_form').removeClass('has-error');
              $('#playlist_alert').hide();
              $.ajax({
                method: "PUT",
                url: "/playlist",
                data: {
                  'playlist': name,
                  'category': category,
                  'password': password,
                  'openSubmissions': openFlag,
                },
                statusCode: {
                  409: function(){
                    $('#playlist_alert').show().html('Playlist name already taken.');
                  },
                  400: function(){
                    $('#playlist_form').addClass('has-error');
                  }
                }
              }).success(function(){
                  currentPlaylist = name;
                  $('#newPlaylist').modal('hide');
              });
          };

          function getPlaylist(name){
              $.ajax({
                method: "GET",
                url: "/playlist",
                data: {'playlist': name }
              }).done(function(data){
                  $('#playlist_area').show();
                  $('#playlist_area').html(data);
                  playlistSocket.send(JSON.stringify({'old_playlist': currentPlaylist, 'new_playlist': name}));
                  currentPlaylist = name;
                  eventHandlers();
                  /*if($('#audio_player').attr('src') === undefined){
                    $('#audio_player').attr('src', songs[0]).trigger('play');
                  };*/
              });
          }

          function listPlaylists(){
              $.ajax({
                method: "GET",
                url: "/playlist"
              }).done(function(data){
                  $('#playlist_area').show();
                  $('#playlists-group').html(data);
                  $('.add_song_area').show();
                  eventHandlers();
              });
          }

          playlistSocket.onopen = function(){
            console.log('opened socket');
          };

          playlistSocket.onclose = function(){
            console.log('socket closed');
          };

          playlistSocket.onmessage = function(event){
              var message = $.parseJSON(event.data);

              if(message.song_added !== undefined && message.song_added !== ''){
                $('#empty-songs').remove();
                $('#playlist_area').append('<div class="panel panel-default"> \
                      <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> \
                        <h4 class="panel-title pull-left">'
                            + message.song_added.info +
                        '</h4> \
                        <div class="clearfix"></div> \
                      </div> \
                      <div id="collapseOne" class="panel-collapse collapse in"> \
                          <ul class="list-group"> \
                            <li class="list-group-item"> \
                              <span class="pull-right">' + message.song_added.length + '</span> \
                              <div class="clearfix"></div> \
                            </li> \
                          </ul> \
                          <div class="clearfix"></div> \
                        </div> \
                      </div>');
              }

              if(message.playlist !== undefined){
                $('#empty-playlist').remove();
                $('#playlists-group').append("<button type=\"button\" class=\"list-group-item playlist-selector pull-left\" id=\"" + message.playlist.title + "\">" + message.playlist.title + "</button>");
              }
              eventHandlers();
          };

          function addSong(songUrl){
              $.ajax({
                method: "PUT",
                url: "/song",
                data: {'playlist': currentPlaylist, 'songUrl': songUrl}
              }).done(function(data){
                console.log("added song");
              });
          }

          function getCurrentSongAndTime(){
            $.ajax({
              method: "GET",
              url: "/song",
              data: {'playlist': currentPlaylist}
            }).done(function(data){
              console.log(data);
              if(data !== undefined){
                var song = $.parseJSON(data).songUrl;
                var time = $.parseJSON(data).time;
                if(audio.attr('src') != song){
                  audio.attr('src', song);
                }
                var playAfterUpdate = function(){
                    console.log('playing after time change');
                    audio[0].play();
                };
                audio[0].addEventListener('seeked', playAfterUpdate , false);
                audio[0].currentTime = parseInt(time);
                //audio[0].removeEventListener('seeked', playAfterUpdate, false);

                if(audio[0].paused) audio[0].play();

                console.log('time is: ' + time + " | int is: " + parseInt(time));
                //$('audio').get(0).removeEventListener('seeked', playAfterTimeUpdate, false);
                //$('#audio_player').trigger('play');
              }
            });
          }

          function getNextSong(){
              $.ajax({
                method: "GET",
                url: "/song/next",
                data: {'playlist': currentPlaylist}
              }).done(function(data){
                var song = $.parseJSON(data).songUrl;
                //var time = $.parseJSON(data).songTime;
                console.log(song);
                $('#audio_player').attr('src', song);
                //$('#audio_player').currentTime = parseInt(time);
                $('#audio_player').trigger('play');
              });
          }

          function getSong(url){
            $.ajax({
              method: "POST",
              url: "/song",
              data: {'playlist': currentPlaylist, 'url': url}
            }).done(function(data){
              var song = $.parseJSON(data).songUrl;
              $('#audio_player').attr('src', song).trigger('play');
            });
          }

          function updateCurrentPlaylist(){
              $.ajax({
                method: "GET",
                url: "/update",
                data: {'playlist': currentPlaylist}
              }).done(function(data){
                $('#playlist_area').show();
                $('#playlist_area').html("");
                var songs = $.parseJSON(data).songs;
                $.each(songs, function(index, song){
                  $('#playlist_area').append(song + "<br>");
                });
                if($('#audio_player').attr('src') === undefined){
                  $('#audio_player').append("<source src=\"" + songs[0] + "\" type=\"audio/ogg\">").trigger('play');
                  //$('#audio_player').attr('src', songs[0]).trigger('play');
                };
              });
          }

          function signOut(){
              $.ajax({
                method: "POST",
                url: "/logout",
              }).done(function(){
                window.location.replace('/');
              });
          }

          function eventHandlers(){
            $('button.playlist-selector').unbind().click(function(event){
                //event.stopPropagation();
                event.preventDefault();
                var playlistName = $(this).attr('id');
                getPlaylist(playlistName);
            });

            $('a.play-button').unbind().click(function(event){
                //event.stopPropagation();
                event.preventDefault();
                getSong($(this).attr('id'));
            });

            $('#go_live').unbind().click(function(event){
                event.preventDefault();
                getNextSong();
            });

            $('#play_playlist').unbind().click(function(event){
                event.preventDefault();
                getPlaylist(currentPlaylist);
                getCurrentSongAndTime();
            });
          }

          function sizeWindow(){
            var percentHeight = (1.0 - ($('#top_section').outerHeight(true)/$(window).height())) * 100 - 1;
            $('#playlist_sidebar').outerHeight(percentHeight+"%");
          }

          $(window).resize(function(){
              sizeWindow();
          });

          sizeWindow();

          listPlaylists();
          //#setInterval(listPlaylists, 10000);

          $('#playlist_sidebar').perfectScrollbar();

          $('#show_playlist').click(function(event){
              event.preventDefault();
              $('#show_playlist').hide();
              $('#playlist_name_area').show();
          });

          $('#create_playlist').click(function(event){
              event.preventDefault();
              createPlaylist($('#playlist_title').val(), $('#playlist_category').val(), $('#playlist_password').val(), $('#openSubmission').is(':checked'));
          });

          $('#add_song').click(function(event){
              event.preventDefault();
              addSong($('#song_url').val());
          });

          $('#get_next_song').click(function(event){
              event.preventDefault();
              getNextSong();
          });

          $('#signout').click(function(event){
              event.preventDefault();
              signOut();
          });

          $(this).find('audio').get(0).addEventListener('ended', function(){
              getCurrentSongAndTime();
          });

        });
    </script>
</head>

<body>
  <!-- navbar -->
  <div id="top_section">
      <navbar class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header navbar-left">
            <a class="navbar-brand" href="#">Playlistr</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ username }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/user">Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a id="signout" href="#">Sign Out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </navbar>

      <header>
        <div class='row'>
          <div class='col-md-3'>
            <div class='input-group' style='width: 50%; margin: 0 auto;'>
              <input class='form-control' id='song_url' type='text' placeholder='Song URL'>
              <span class='input-group-btn'>
                <button class='btn btn-default' id='add_song'>+</button>
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <audio controls id="audio_player" style="width: 100%">
            </audio>
          </div>
        </div>
      </header>
  </div>

  <div id="playlist_sidebar">
    <!-- create playlist modal -->
    <div id="create_playlist_button_area">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPlaylist">+</button>
    </div>

    <div class="modal fade" id="newPlaylist" tab-index="-1" role="dialog" aria-labelledby="newPlaylistModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="newPlaylistModal">Create New Playlist</h4>
          </div>
          <div class="modal-body">
            <div class="form-group" id="playlist_form">
              <input type="text" class="form-control" placeholder="Playlist title" id="playlist_title" required>
              <input type="text" class="form-control" placeholder="Playlist category" id="playlist_category" required>
            </div>
              <input type="text" class="form-control" placeholder="Password (leave blank for none)" id="playlist_password">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="openSubmission" value="option1" aria-label="openSubmission"> Public submissions
                </label>
              </div>
          </div>
          <div class="modal-footer">
            <div class="alert alert-warning pull-left" id="playlist_alert" hidden>
            </div>
            <button type="submit" class="btn btn-primary pull-right" id="create_playlist">Create</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="list-group" id="playlists-group">
    </div>
  </div>

  <div id="main_panel">
    <div id="playlist_area" hidden>
    </div>
  </div>
</body>
</html>
