<html>
<head>
  <script src="scripts/jquery-1.12.0.min.js"></script>
  <script src="scripts/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <style>
      .panel-default{
        clear: both;
      }
  </style>
</head>
<body>
  <center>
    <!--
      <div class="panel panel-default" style="clear: both; width: 50%">
          <div class="panel-body pull-left">
              This is a test playlist.
          </div>
          <div class="panel-footer" style="clear: both">
              <span style="float: left">song 1</span><span style="float: right">2:34</span>
              <div class="clearfix">
          </div>
      </div>-->
      <br><br>
      <div class="panel-group" id="accordion" style="width: 50%">
        <div class="panel panel-default">
          <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <h4 class="panel-title pull-left">
                Test Playlist 1
            </h4>
            <div class="clearfix"></div>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="pull-left">Rick Astley - Never Gonna Give You Up</span><span class="pull-right">2:45</span>
                  <div class="clearfix"></div>
                </li>
                <li class="list-group-item">
                  <span class="pull-left">Some other fucking song</span><span class="pull-right">23:59:59</span>
                  <div class="clearfix"></div>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        <div class="panel panel-default">
          <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <h4 class="panel-title pull-left">
                Test Playlist 2
            </h4>
            <div class="clearfix"></div>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse in">
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="pull-left">Ask Rickley - Always Wanna Fuck Up You</span><span class="pull-right">5:42</span>
                  <div class="clearfix"></div>
                </li>
                <li class="list-group-item">
                  <span class="pull-left">Rebecca Black - Friday</span><span class="pull-right">0:01</span>
                  <div class="clearfix"></div>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
  </center>
</body>
